# Git-Versionierung
.git
.gitignore

# Dokumentation
# READMEs und andere Markdown-Dateien werden im Image nicht benötigt.
*.md

# Docker-spezifische Dateien
# Das Dockerfile und die .dockerignore-Datei selbst gehören nicht in den Build-Kontext.
.dockerignore
Dockerfile

# GitHub Actions
# Workflow-Dateien sind für den Build nicht erforderlich.
.github/

# Konfigurationsordner für Editoren/IDEs
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log-Dateien
*.log

# Temporäre Dateien und Backups
*~
*.swp
